* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #E6DCF2;
}

#calculadora {
    background-color: #FBF6FF;
    height: 700px;
    width: 320px;
    margin: 50px auto;
    border-radius: 100px;
}

#cabecera {
    width: 100%;
    height: 40px;
    background-color: #DDC7F3;
}

#output-box {
    width: 100%;
    height: 250px;
    background-color: white;
}

#input-buttons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 410px;
    background-color: #FBF6FF;
}

.btn {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    -webkit-box-shadow: 0 1px 3px 1px #DDC7F3;
}

.btn-sings {
    background-color: #DDC7F3;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 0px;
    cursor: pointer;
    
}

.btn-numbers {
    background-color: #F1E3FF;
    color: #952CFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
}

.equal-sing {
    grid-area: 5 / 4 / 6 / 5;
    background-color: #952CFF;
    color: white;
}

